<h1>Назови себя</h1>

<form action='/log_in' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="Твое имя" autofocus>
  <input class="btn primary" type='submit' value='Войти в систему'>
</form>
