<h2>Добавить планируемый расход</h2>

<form action="/secure/planned_payment" method="POST">

  <div class="form-group">
    <label>Статья</label>
    <input name="sourse" type="text" class="form-control" placeholder="На что расход">
  </div>

  <div class="form-group">
    <label>Сумма</label>
    <div class="input-group">
      <div class="input-group-addon">BYN</div>
      <input name="amount" type="text" class="form-control" placeholder="Сумма">
      <div class="input-group-addon">.00</div>
    </div>
  </div>

 <button type="submit" class="btn btn-primary">Добавить запланированный расход</button>

</form>