<h2>Авторизация</h2>

<form action="/secure/table_of_family" method="POST" class="form-inline">

  <div class="form-group">
    <label class="sr-only"></label>
    <input name="login" type="text" class="form-control" placeholder="Login">
  </div>

  <div class="form-group">
    <label class="sr-only"></label>
    <input name="password" type="password" class="form-control" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Войти</button>

</form>